@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a target="_blank" href="https://www.angelcastillo.xyz">Visit my website.</a></p>
</div>
