@{
    ViewData["Title"] = "Special Thanks";
}
<h1>@ViewData["Title"]</h1>

<p>
    This is a project made with learning motives and was made based on the series of tutorials of Juan Carlos Zuluaga-Tutorial 57 where he performs the project <a href=" https://github.com/Zulu55/Shop/" target="_blank">Shop</a> described as an ecommerce for web platforms , Android and iOS.
</p>




<div class="row">
    <div class="col-md-2"></div>
    <div class="list-group col-md-4">
        <a href="#" class="list-group-item list-group-item-action active">
            Technologies:
        </a>
        <a href="https://dotnet.microsoft.com/learn/dotnet/what-is-dotnet" target="_blank" class="list-group-item list-group-item-action"><span class="fa fa-microsoft"></span> .Net Core Framework </a>
        <a href="https://docs.microsoft.com/en-us/dotnet/standard/net-standard" target="_blank" class="list-group-item list-group-item-action"><span class="fa fa-microsoft"></span> .Net Standard Library</a>
        <a href="https://docs.microsoft.com/en-us/xamarin/xamarin-forms/" target="_blank" class="list-group-item list-group-item-action"><span class="fa fa-mixer"></span> Xamarin Forms</a>
        <a href="https://docs.microsoft.com/en-us/xamarin/" target="_blank" class="list-group-item list-group-item-action "><span class="fa fa-mixer"></span> Xamarin Classic</a>
    </div>
    <div class="list-group col-md-4">
        <a href="#" class="list-group-item list-group-item-action active">
            Tools / software:
        </a>
        <a href="https://visualstudio.microsoft.com/" target="_blank" class="list-group-item list-group-item-action"> <span class="fa fa-microsoft"></span> Visual Studio 2019 </a>
        <a href="https://www.vysor.io/" target="_blank" class="list-group-item list-group-item-action">Vysor</a>
        <a href="https://git-scm.com/" target="_blank" class="list-group-item list-group-item-action"><span class="fa fa-git-alt"></span> Git</a>
        <a href="https://azure.microsoft.com/" target="_blank" class="list-group-item list-group-item-action "><span class="fa fa-microsoft"></span> Azure DevOps</a>
    </div>
    <div class="col-md-2"></div>
</div>

<hr />
<p>
    <a href="https://www.youtube.com/playlist?list=PLuEZQoW9bRnSCZHlieeTk8Xji7JmaTCaq" target="_blank"><span class="fa fa-youtube"></span> Playlist</a>
</p>
<p>
    <a href="https://github.com/Zulu55" target="_blank"><span class="fa fa-github"></span> Juan Carlos Zuluaga</a>
</p>
<p>
    Visit my profile  <a href="https://github.com/X905" target="_blank"><span class="fa fa-github"></span>X905</a>
</p>

